@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&diplay=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Poppins';

}


body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-content {
    position: relative;
    min-height: 1000px;
    background: #fff;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    

}
.left-section
{
    position: relative;
    background:#003147;
    display: grid;
    grid-column: 300px;
    
}


.profile-image {
    padding: 1rem;
    display: block;
    align-items: center;
    margin: auto;
    border: 5px white;
    border-radius: 30%;
    width: 60%;
}
.name {
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
}

.designation {
    font-size: 1rem;
    display: flex;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description {
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
    padding: 0.5rem;

}
.contact-item{
    position: relative;
}
 .skills{
    position: relative;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 250px;
}
.skill-name{
    position: relative;
    display: flex;
    margin-left: 1.6rem;
    margin-top:1rem;
    
}
 .skill-progress{
    position: relative;
    top: 0;
    left: 0;
    height:100%;
    
 }

 .pogress-bar
{   background:  #fff;
    border: 1px;
    height: 4px;
}

.text{
    display: inline;
    margin-left: 0.5rem;
    color: #fff;
    letter-spacing: 1px;
}
.icon{
    display: inherit;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    color: #7217e9;
    
    
}
.profile-detalis .icon{
    position: relative;
    width: 10px;
    display: inline;
    margin-left: 2.5rem;
    
}

/*     ----:right side part:----          */

.right-section{
    position: relative;
    width: 90%;
    display: grid;
    grid-column: 700px;
    padding-top:2rem;
    padding-bottom: 32px;
    padding-left: 3rem;
    padding-right: 48px;
}
.right-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}




@media (max-width:900px) {
    .main-content {
        margin: 10px;

        grid-template-columns: repeat(1, 1fr);
    }


}